{% extends "cms/base.html" %}
{%load staticfiles %}

{% block title %}TechKids - Liên hệ{% endblock %}

{% block content %}
<section class="page_title stars">
  <div class="container">
		<div class="row fade_up text-center">
			<h3 class="section_title col-sm-5 col-xs-9">Liên hệ với chúng tôi</h3>
		</div>
	</div>
</section>
<iframe class="contact_map" src="https://www.google.com/maps/d/embed?mid=zleZxJEOPb-4.kRRzhltn_Ri0"></iframe>
<section>
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul>
            <li><em>TQDN Hub 1:</em> Số 18, ngõ 67 Chùa Láng.</li>
            <li><em>TQDN Hub 2:</em> Số 101D, ngõ 95 Chùa Bộc.</li>
            <li><em>TQDN Hub 3:</em> Số 13, ngõ 81 Trần Đại Nghĩa.</li>
            <li><em>TQDN Hub 4:</em> Số 28/10, ngõ 121 Chùa Láng</li>
            <li><em>TQDN Hub 5:</em> 493/23 Nơ Trang Long, phường 13, quận Bình Thạnh.</li>
          </ul>
          <p>Điện thoại: Ms. Hà <a href="tel:+841653005670">0165 300 5670</a></p>
          <p>Email: <a href="Techkidsvn@gmail.com">Techkidsvn@gmail.com</a></p>
          <p>Facebook: <a href="https://www.facebook.com/Techkids.Code.the.Change">Techkids.Code.the.Change</a></p>
        </div>
    </div>
  </div>
</section>
{% endblock %}
