{% extends "cms/base.html" %}
{%load staticfiles %}

{% block title %}TechKids - CODE FOR EVERYONE{% endblock %}

{% block content %}
<section id="page_title" class="page_title stars">
	<div class="container">
		<div class="row fade_up text-center">
			<h3 class="section_title col-sm-5 col-xs-9">Thông tin</h3>
			<p class="section_subtitle">CODE FOR EVERYONE</p>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<article class="row">
			<aside class="course_summary fly_right_md col-md-3">
				<h3 class="column_title">Tóm lược</h3>
				<p>Chúng tôi không chỉ dạy về lập trình, chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!</p>
				<p><i class="fa fa-calendar"></i> <em>Lịch khai giảng</em><span class="pull-right">17/4/2016</span></p>
				<hr class="sub_divider"/>
				<p><i class="fa fa-clock-o"></i> <em>Thời gian học</em><div>Tối thứ 4,7 (7h30-9h30) Học nhóm &amp; thực hành: tối Chủ nhật (7h30-9h30)</div></p>
				<hr class="sub_divider"/>
				<p><i class="fa fa-level-up"></i> <em>Thời lượng học</em><div>5 tháng. 3 buổi học chính/tuần</div></p>
				<hr class="sub_divider"/>
				<p><i class="fa fa-credit-card"></i> <em>5 Học bổng tài năng</em><span class="pull-right">50-100%</span></p>
				
				<p class="price_tag">2.000.000<sup>đ</sup></p>
				<a href="http://techkids.edu.vn/index.php/dang-ki-event/" class="btn btn-primary btn-block">Đăng ký tại đây</a>
				
				<hr/>
				
				<h3 class="column_title">Giảng viên</h3>
				<ul class="users_list">
					<li>
						<div class="user_thumbnail"><img src="{% static "cms/img/uploads/2015/06/canh.jpg" %}"/></div>
						<h5><a href="#">Bùi Xuân Cảnh</a></h5>
						<p>Project Manager FSoft</p>
					</li>
					<li>
						<div class="user_thumbnail"><img src="{% static "cms/img/uploads/2015/06/Lehoangtu-300x300.jpg" %}"/></div>
						<h5><a href="#">Lê Hoàng Tú</a></h5>
						<p>Project Manager FSoft</p>
					</li>
				</ul>
			</aside>
			<div class="col-md-9 fly_right_md">
				<img class="title_image" src="{% static "cms/img/uploads/2015/08/Proud-of-Techkids-cover.jpg" %}"></img>
				
				<div class="wpb_column vc_column_container vc_col-sm-8">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h2><span><strong>1. TẠI SAO TẤT CẢ NGƯỜI VIỆT N&Ecirc;N HỌC LẬP TR&Igrave;NH?</strong></span></h2>
<p><span><strong><em>&ldquo;Tất cả mọi người n&ecirc;n học Lập tr&igrave;nh, bởi Lập tr&igrave;nh dạy bạn c&aacute;ch tư duy&rdquo;</em><em>&nbsp;&ndash; Steve Jobs.</em></strong></span></p>
<p><span>Nếu bạn coi m&aacute;y t&iacute;nh v&agrave; internet l&agrave; một phần cuộc sống của m&igrave;nh, th&igrave; TechKids tin học Lập tr&igrave;nh l&agrave; học c&aacute;ch l&agrave;m cuộc sống của bạn tốt đẹp hơn: Hiệu quả hơn, tiết kiệm thời gian, c&ocirc;ng sức, tiền bạc v&agrave; th&uacute; vị hơn rất nhiều!</span></p>
<p><span>Nếu bạn hiểu rằng C&ocirc;ng nghệ l&agrave; tương lai của cả thế giới, th&igrave; TechKids tin học Lập tr&igrave;nh l&agrave; c&aacute;ch để mỗi ch&uacute;ng ta mở ra những cơ hội lớn tr&ecirc;n to&agrave;n cầu, để Việt Nam bắt kịp với c&aacute;c nước tr&ecirc;n thế giới nhanh hơn.</span></p>
<p><span>Vậy n&ecirc;n, TechKids ti&ecirc;n phong khởi động chương tr&igrave;nh &ldquo;CODE FOR EVERYONE&rdquo; để gi&uacute;p tất cả người Việt c&oacute; cơ hội học Lập tr&igrave;nh một c&aacute;ch dễ d&agrave;ng, th&acirc;n thiện, kh&aacute;c biệt v&agrave; hiệu quả. Sau đ&acirc;y l&agrave; một số b&agrave;i b&aacute;o v&iacute; dụ cho c&aacute;c bạn:&nbsp;</span></p>
<p><span>&ndash; D&agrave;nh cho những ai ng&agrave;nh T&agrave;i ch&iacute;nh:<a href="http://techkids.edu.vn/index.php/2015/12/04/gioi-ngan-hang-toan-the-gioi-chuan-bi-don-cu-soc/" target="_blank">&nbsp;http://techkids.edu.vn/index.php/2015/12/04/gioi-ngan-hang-toan-the-gioi-chuan-bi-don-cu-soc/</a></span></p>
<p><span>&ndash; D&agrave;nh cho những ai trong ng&agrave;nh Marketing:<a href="http://techkids.edu.vn/index.php/2015/12/04/how-to-become-a-customer-acquisition-expert/" target="_blank">&nbsp;http://techkids.edu.vn/index.php/2015/12/04/how-to-become-a-customer-acquisition-expert/</a></span></p>
<hr />
<h2><span><strong>2. NGUY&Ecirc;N TẮC KH&Oacute;A HỌC N&Agrave;Y NHƯ THẾ N&Agrave;O?</strong></span></h2>
<h3><span><em><strong>Learning by doing.</strong></em></span></h3>
<div class="_209g _2vxa" data-block="true" data-offset-key="151fc-0-0"><span data-offset-key="151fc-0-0"><strong>6 BUỔI ĐẦU:&nbsp;</strong>L&agrave;m quen với c&aacute;c kh&aacute;i niệm Lập tr&igrave;nh bằng c&aacute;c case study v&agrave; &ldquo;gamification&rdquo; (game h&oacute;a). Sau mỗi buổi học sẽ l&agrave;m được một-sản-phẩm ho&agrave;n chỉnh. Kết th&uacute;c 6 buổi, học vi&ecirc;n c&oacute; thể hiểu được Lập tr&igrave;nh cơ bản, c&aacute;ch tư duy v&agrave; quy tr&igrave;nh của Lập tr&igrave;nh vi&ecirc;n. Đồng thời, l&agrave;m được những c&ocirc;ng cụ nhỏ hữu &iacute;ch.</span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="6or9b-0-0"><span data-offset-key="6or9b-0-0"><strong>13 BUỔI TIẾP THEO:&nbsp;</strong>X&acirc;y dựng những ứng dụng nhỏ dưới sự hướng dẫn của Giảng vi&ecirc;n v&agrave; Trợ giảng, từ đ&oacute; bắt đầu biết c&aacute;ch tự thử &ndash; sửa lỗi, ph&acirc;n t&iacute;ch được c&aacute;c vấn đề gặp phải v&agrave; t&igrave;m được c&aacute;ch giải quyết.</span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="6jrmj-0-0"><span data-offset-key="6jrmj-0-0"><strong>1 BUỔI 24H HACKATHON &amp; DEMO DAY:</strong>&nbsp;Team up v&agrave; x&acirc;y dựng 1 ứng dụng ho&agrave;n chỉnh.</span></div>
<h3><span><strong><em>Learning for doing.</em></strong></span></h3>
<div class="_209g _2vxa" data-block="true" data-offset-key="dbfi-0-0"><span data-offset-key="dbfi-0-0">&ndash; Được định hướng, tư vấn v&agrave; gi&uacute;p đỡ trọn đời về Lập tr&igrave;nh v&agrave; C&ocirc;ng nghệ. Cafe với TechKids bất cứ l&uacute;c n&agrave;o bạn muốn!</span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="5f409-0-0"><span data-offset-key="5f409-0-0">&ndash; Được tham gia v&agrave;o cộng đồng TechKids với những con người t&agrave;i năng nhất trong tất cả c&aacute;c lĩnh vực: Lập tr&igrave;nh, Marketing, Du học, Kinh doanh,&hellip; (TechKids trực thuộc cộng đồng<a href="http://iliat.org/" target="_blank">&nbsp;<strong>ILIAT Education</strong></a>, tiền th&acirc;n Thư qu&aacute;n doanh nh&acirc;n HN)</span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="6eltu-0-0"><span data-offset-key="6eltu-0-0">&ndash; Đặc biệt lớp học Code for everyone&nbsp;l&agrave; tập hợp của rất nhiều th&agrave;nh phần &ldquo;bất hảo&rdquo; c&oacute; tiếng như Marketing Manager của c&aacute;c c&ocirc;ng ty c&ocirc;ng nghệ, Founder Techstartup, những bạn sinh vi&ecirc;n t&agrave;i năng,&hellip;</span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="6a5fr-0-0"><span data-offset-key="6a5fr-0-0">&ndash; Sử dụng Ng&ocirc;n ngữ lập tr&igrave;nh Python: ng&ocirc;n ngữ nhanh, mạnh, hiệu quả, cực kỳ linh hoạt, đặc biệt th&iacute;ch hợp với những người bắt đầu học Lập tr&igrave;nh. Python l&agrave; ng&ocirc;n ngữ được sử dụng phổ biến tại Google, Microsoft, IBM, Quora,&hellip;v&agrave; đặc biệt được coi l&agrave; &ldquo;ng&ocirc;n ngữ d&agrave;nh cho khởi nghiệp&rdquo; tại trung t&acirc;m c&ocirc;ng nghệ cao của thế giới &ndash; Silicon Valley.</span></div>
<hr />
<h2><span><strong>3. C&Aacute;CH THỨC NỘP ĐƠN:</strong></span></h2>
<div class="_209g _2vxa" data-block="true" data-offset-key="3grng-0-0"><strong>V&Ograve;NG 1:</strong>&nbsp;Nộp đơn đăng k&yacute;</div>
<div class="_209g _2vxa" data-block="true" data-offset-key="3grng-0-0"><strong>V&Ograve;NG 2:</strong>&nbsp;Test v&agrave; phỏng vấn.</div>
<div class="_209g _2vxa" data-block="true" data-offset-key="3grng-0-0"><hr /></div>
<h2 class="_209g _2vxa" data-block="true" data-offset-key="2uknp-0-0">&nbsp;</h2>
<h2 class="_209g _2vxa" data-block="true" data-offset-key="2uknp-0-0">4. ĐỐI TƯỢNG N&Ecirc;N THAM GIA:</h2>
<div class="_209g _2vxa" data-block="true" data-offset-key="2uknp-0-0"><span data-offset-key="2uknp-0-0"><span data-text="true"><em>&ndash;</em></span></span><span data-offset-key="2uknp-0-0"><em>&nbsp;Những ai kh&ocirc;ng c&oacute; nền tảng về CNTT nhưng c&oacute; định hướng c&ocirc;ng việc li&ecirc;n quan đến C&ocirc;ng nghệ:</em>&nbsp;l&agrave;m việc cho c&aacute;c c&ocirc;ng ty/dự &aacute;n về C&ocirc;ng nghệ hoặc khởi nghiệp trong lĩnh vực n&agrave;y (Marketer, Co-founder, Salesman,&hellip;),&nbsp;đặc biệt l&agrave;m việc nhiều với developers team.</span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="fhsbu-0-0"><span data-offset-key="fhsbu-0-0"><em>&ndash; C&aacute;c bạn l&agrave;m việc li&ecirc;n quan đến ng&agrave;nh T&agrave;i ch&iacute;nh &ndash; Ng&acirc;n h&agrave;ng, Kế to&aacute;n &ndash; Kiểm to&aacute;n</em>&nbsp;phải l&agrave;m việc với nhiều c&ocirc;ng cụ, dữ liệu, con số.</span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="e2ana-0-0"><span data-offset-key="e2ana-0-0"><em>&ndash; C&aacute;c em học sinh</em>&nbsp;chuy&ecirc;n To&aacute;n-Tin hoặc y&ecirc;u th&iacute;ch thế giới C&ocirc;ng nghệ từ sớm.</span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="3grng-0-0"><span><em>&ndash; C&oacute; th&aacute;i độ học tập nghi&ecirc;m t&uacute;c, cầu tiến. C&oacute; thể d&agrave;nh ra &iacute;t nhất 2-3 tiếng/ng&agrave;y để Lập tr&igrave;nh trong v&ograve;ng &iacute;t nhất 2&nbsp;th&aacute;ng kh&oacute;a học.</em></span></div>
<div class="_209g _2vxa" data-block="true" data-offset-key="3grng-0-0">&nbsp;</div>
<hr />
<h2><span><strong>5. TH&Ocirc;NG TIN LỚP HỌC SẮP TỚI</strong></span></h2>
<p><span><strong>NG&Agrave;Y KHAI GIẢNG:&nbsp;</strong>Ng&agrave;y 17/4/2016</span></p>
<p><span><strong>THỜI LƯỢNG HỌC:&nbsp;</strong>20 buổi, 3 buổi/tuần, 2h/buổi.</span></p>
<p><span><strong>THỜI GIAN HỌC:&nbsp;</strong>Cập nhật trong thời gian sớm nhất.</span></p>
<p><span><strong>SỸ SỐ:&nbsp;</strong>12-15 người. Sẽ đ&oacute;ng đơn đăng k&yacute; khi chọn đủ th&agrave;nh vi&ecirc;n.</span></p>
<p><span><strong>HỌC PH&Iacute;:&nbsp;</strong>2.100.000vnd/người. Đối với những ai được th&agrave;nh vi&ecirc;n cộng đồng TechKids/ILIAT Education giới thiếu: được giảm 10% học ph&iacute;.&nbsp;<strong>ĐẶC BIỆT:&nbsp;Đăng k&yacute; trước 20/3: Được tặng 200.000vnd.&nbsp;</strong></span></p>
<p><span><strong>HỌC BỔNG:</strong>&nbsp;3 học bổng 20-50-100% cho đợt 1. Kết quả dựa v&agrave;o b&agrave;i kiểm tra đầu v&agrave;o v&agrave; phỏng vấn.</span></p>
<hr />
<p><span><em>C&oacute; những c&acirc;u chuyện ch&uacute;ng t&ocirc;i được biết v&agrave; trải nghiệm: một anh bạn ở Đức bằng tuổi m&igrave;nh, học lập tr&igrave;nh từ năm 10 tuổi, đến khi l&agrave;m việc c&ugrave;ng nhau, m&igrave;nh được 2 năm kinh nghiệm, hắn đ&atilde; 14 năm, tr&igrave;nh độ c&aacute;ch nhau cả 1 thế hệ. Hay khi đến San Francisco, v&agrave;o 1 qu&aacute;n cafe, nh&agrave; h&agrave;ng ăn, bạn c&oacute; thể nhờ bất cứ ai dạy m&igrave;nh học Lập tr&igrave;nh cơ bản, tỷ lệ người ta c&oacute; thể dạy bạn l&agrave; 80%, như một thứ ng&ocirc;n ngữ vậy. Điều n&agrave;y th&uacute;c giục ch&uacute;ng t&ocirc;i, kh&ocirc;ng chỉ tập trung v&agrave;o thế hệ những Lập tr&igrave;nh vi&ecirc;n t&agrave;i năng, m&agrave; c&ograve;n cần đem một l&agrave;n s&oacute;ng mới về một-thứ-ng&ocirc;n-ngữ-đầy-quyền-lực n&agrave;y đến tất cả người Việt trong một tương lai kh&ocirc;ng xa.</em></span></p>
</div>
</div>
<div class="vc_btn3-container vc_btn3-center"><a class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-rounded vc_btn3-style-flat vc_btn3-color-peacoc" title="" href="http://techkids.edu.vn/index.php/begin_coding" target="_self">ĐĂNG K&Yacute; KH&Oacute;A HỌC</a></div>
</div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-4">&nbsp;</div>
			</div>
		</article>
	</div>
</section>
{% endblock %}