{% extends "cms/base.html" %}
{%load staticfiles %}

{% block nav_optional %} navbar_at_top {% endblock %}

{% block content %}
<section id="intro" class="intro stars">
	<div class="container center_inline_list">
		<img class="fade_up" src='{% static "cms/img/TechKidsLogo.png" %}' alt="TechKids">
	</div>
</section>

<section id="about" class="about_us">
	<div class="container">
		<div class="fade_up">
			<div class="row text-center">
				<h3 class="section_title col-sm-5 col-xs-9">VỀ CHÚNG TÔI</h3>
			</div>
			<div class="row">
				<div class="text-center col-sm-10 col-sm-offset-1 col-xs-12">
					TechKids là một cộng đồng toàn cầu của những người sẵn sàng trở thành những người giỏi nhất, khác biệt nhất trong thế giới Công nghệ. Ở đó, chúng tôi cùng nhau tìm định hướng, học hỏi hết mình, khơi dậy những ước mơ, cố gắng không ngừng và đồng hành với nhau trên hành trình chinh phục Công nghệ cao để thay đổi thế giới!
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 about_values">
				<div class="core_value">
					<div class="frame_wrapper fade_up">
						<img src="{% static "cms/img/uploads/2015/06/0000_Refresh-90x90.png" %}"/>
						<h5>Giá trị cốt lõi</h5>
						<p>Nỗ lực để trở nên xuất sắc. Sẻ chia để làm những điều tuyệt vời hơn. Luôn giữ kết nối với Cộng đồng Kinh doanh – Kinh tế bới Công Nghệ thuần túy là không đủ.</p>
						<p>Thêm 1 đống text vào ông ei cốt lõi thì đéo có gì mà tầm nhìn xứ mệnh thì xa vkl?</p>
						<div class="text-center"><a href="{% url 'cms.views.about' %}" class="btn btn-primary">TÌM HIỂU THÊM</a></div>
					</div>
				</div>
				<div class="vision">
					<div class="frame_wrapper fade_left">
						<img src="{% static "cms/img/uploads/2015/06/0008_Bullseye-90x90.png" %}"/>
						<h5>Tầm nhìn</h5>
						<p>Trở thành một trong các tổ chức giáo dục lớn nhất ở Việt Nam và ASEAN trong lĩnh vực công nghệ, cung cấp cho cộng đồng những trải nghiệm giáo dục tốt nhất trong khu vực.</p>
					</div>
				</div>
				<div class="destiny">
					<div class="frame_wrapper fade_right">
						<img src="{% static "cms/img/uploads/2015/06/0003_Marker-90x90.png" %}"/>
						<h5>Sứ mệnh</h5>
						<p>Chúng tôi tạo ra và kết nối thế hệ những Lập trình viên trẻ tài năng, nhiệt huyết, cùng họ mang đến một thế giới tốt đẹp hơn bằng sức mạnh của Công nghệ hiện đại.</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="partners" class="partners">
	<div class="container">
		<div class="row text-center fade_up">
			<p class="col-sm-12">TechKids tự hào là đối tác chính thức của các tập đoàn hàng đầu Việt Nam và ASEAN</p>
		</div>
		<div class="row">
			<ul class="partners_list center_inline_list col-sm-12">
				<li><a href="http://namconn10.com/"><img class="fade_scale" src='{% static "cms/img/PartnersLogo/Topica.png"%}' alt="Topica"/></a></li>
				<li><a href="http://techkids.edu.vn/"><img class="fade_scale" src='{% static "cms/img/PartnersLogo/Samsung.png"%}' alt="Samsung"/></a></li>
				<li><a href="http://bkav.com.vn"><img class="fade_scale" src='{% static "cms/img/PartnersLogo/BKAV.png"%}' alt="BKAV"/></a></li>
				<li><a href="http://techkids.edu.vn/"><img class="fade_scale" src='{% static "cms/img/PartnersLogo/TinhVan.png"%}' alt="TinhVan"/></a></li>
				<li><a href="http://techkids.edu.vn/"><img class="fade_scale" src='{% static "cms/img/PartnersLogo/Viettel.png"%}' alt="Viettel"/></a></li>
				<li><a href="http://techkids.edu.vn/"><img class="fade_scale" src='{% static "cms/img/PartnersLogo/Fpt.png"%}' alt="FPT"/></a></li>
			</ul>
		</div>
	</div>
</section>

<section id="courses" class="courses">
	<div class="container">
		<div class="row">
      <div class="col-sm-3 fade_scale">
				<a href="#"><i style="background:url(http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/Unknown-9.png) no-repeat center;"></i></a>
				<h5>CODE FOR EVERYONE</h5>
				<p> Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>
			</div>
			<div class="col-sm-3 fade_scale fade_delay_1">
			  <a href="#"><i style="background:url(http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/Unknown-9.png) no-repeat center;"></i></a>
			  <h5>CODING INTENSIVE</h5>
			  <p> Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>
			</div>
			<div class="col-sm-3 fade_scale fade_delay_2">
			  <a href="#"><i style="background:url(http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/Unknown-9.png) no-repeat center;"></i></a>
			  <h5>IOS</h5>
			  <p> Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>
			</div>
			<div class="col-sm-3 fade_scale fade_delay_3">
			  <a href="#"><i style="background:url(http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/Unknown-9.png) no-repeat center;"></i></a>
			  <h5>ANDROID</h5>
			  <p> Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>
			</div>
    </div>

		<hr class="content_divider"></hr>

		<div class="row">
			<div class="col-sm-12 fade_up">
				<blockquote>
					<p>"Chúng tôi tin các bạn, nếu được truyền cảm hứng nhiều hơn, trau dồi nhiều hơn, đam mê và nỗ lực nhiều hơn thì các bạn sẽ làm được những điều thật sự khác biệt! Và chúng tôi hứa, sẽ đồng hành với bạn trong cuộc hành trình đầy thử thách này."</p>
					<footer>Nguyễn Thanh Tùng, Co-founder TechKids</footer>
				</blockquote>
			</div>
		</div>
	</div>
</section>

<section id="teachers" class="stars teachers">
	<div class="container">
		<div class="row fade_up">
			<h3 class="section_title col-sm-5 col-xs-9">GIẢNG VIÊN</h3>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul class="teachers_list center_inline_list">
					<li class="fade_scale">
						<img src="{% static "cms/img/uploads/2015/06/Lehoangtu-300x300.jpg" %}"/>
						<h5><a href="http://techkids.edu.vn/index.php/instructor/le-hoang-tu/">Lê Hoàng Tú</a></h5>
						<p>Project manager at FPT Software</p>
					</li>
					<li class="fade_scale">
						<img src="{% static "cms/img/uploads/2015/06/canh-300x300.jpg" %}"/>
						<h5><a href="http://techkids.edu.vn/index.php/instructor/bui-xuan-canh/">Bùi Xuân Cảnh</a></h5>
						<p>Project manager at FPT Software</p>
					</li>
					<li class="fade_scale">
						<img src="{% static "cms/img/uploads/2015/06/doanhtu-300x300.jpg" %}"/>
						<h5><a href="http://techkids.edu.vn/index.php/instructor/do-anh-tu/">Đỗ Anh Tú</a></h5>
						<p>Co-founder Haivl.com</p>
					</li>
					<li class="fade_scale">
						<img src="{% static "cms/img/uploads/2015/06/63782_367921346707721_7810060468509032966_n-300x300.jpg" %}"/>
						<h5><a href="http://techkids.edu.vn/index.php/instructor/giang-vien-ios-nguyen-tien-dat/">Nguyễn Tiến Đạt</a></h5>
						<p>Director at PlumGame</p>
					</li>
					<li class="fade_scale">
						<img src="{% static "cms/img/uploads/2015/06/10896185_10202528503208549_4733467575042136922_o-300x300.jpg"%}"/>
						<h5><a href="http://techkids.edu.vn/index.php/instructor/andrea-lincoln/">Cao Minh Quỳnh</a></h5>
						<p>Project Manager at Viettel</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="news" class="newsevent">
	<div class="container">
		<div class="row text-center fade_up">
			<h3 class="section_title col-sm-5 col-xs-9">TIN TỨC &amp; SỰ KIỆN</h3>
		</div>
	</div>

	<div class="container articles_list">
		<article class="row">
			<div class="col-sm-4">
				<div class="news_thumbnail fade_scale">
					<img src="{% static "cms/img/uploads/2016/01/12417952_536619623179641_2872938558365619088_n.png" %}"/>
				</div>
			</div>
			<div class="col-sm-8 fade_left">
				<h3 class="column_title"><a href="#">Chia sẻ sách cho dân Lập trình viên</a></h3>
				<div>
					<p>Chào các bạn</p>
					<p>TechKids xin gửi tới các bạn những quyển ebook  khá hữu dụng để bạn có thể học một số kỹ năng cần thiết nhé.</p>
					<p>Download TẠI ĐÂY.</p>
					<p>P/s: Có rất nhiều bạn lo ngại rằng tiếng Anh không đủ để đọc những cuốn sách bằng tiếng Anh, nếu biết vậy, thì học […]!</p>
				</div>
				<a href="#" class="see_more_link">Chi tiết <span class="fa fa-chevron-right" aria-hidden="true"></span></a>
			</div>
		</article>

		<hr class="content_divider"></hr>

		<article class="row">
			<div class="col-sm-4">
				<div class="news_thumbnail fade_scale">
					<img src="{% static "cms/img/uploads/2016/01/englishandit-3.jpg" %}"/>
				</div>
			</div>
			<div class="col-sm-8 fade_left">
				<h3 class="column_title"><a href="#">Talkshow: English and IT</a></h3>
				<div>
					<p>English and IT - Why, How, What? "English and IT - Why, How, What" là sự kiện được tổ chức bởi câu lạc bộ Tiếng Anh ILEC, trực thuộc Ban Chấp hành Liên Chi Đoàn Viện Cơ Khí - Đại học Bách Khoa Hà Nội. Đây là cơ hội dành cho tất cả các bạn [...]</p>
				</div>
				<a href="#" class="see_more_link">Chi tiết <span class="fa fa-chevron-right" aria-hidden="true"></span></a>
			</div>
		</article>

		<hr class="content_divider"></hr>

		<article class="row">
			<div class="col-sm-4">
				<div class="news_thumbnail fade_scale">
					<img src="{% static "cms/img/uploads/2015/12/martech_boston-og-1024x538.jpg" %}"/>
				</div>
			</div>
			<div class="col-sm-8 fade_left">
				<h3 class="column_title"><a href="#">How To Become A Customer Acquisition Expert</a></h3>
				<div>
					<p>Trích từ bài viết của Brian Balfour – Một Growth Leader, Entrepreneur, &amp; Angel Investor</p>
					<p>If I Can Do It, You Can Do It</p>
					<p>I started my career out as a “product guy.”  But about 4 years ago I realized that product was a small piece of the startup puzzle.  I became fascinated with how products were […]</p>
				</div>
				<a href="#" class="see_more_link">Chi tiết <span class="fa fa-chevron-right" aria-hidden="true"></span></a>
			</div>
		</article>
	</div>
</section>

<section id="join_us" class="join_us stars">
	<div class="container fade_up">
		<div class="row text-center">
			<h3 class="section_title col-sm-5 col-xs-9">TRẢI NGHIỆM CÙNG TECHKIDS</h3>
			<p class="section_subtitle">Cùng viết nên những dòng code thay đổi cuộc đời bạn</p>
		</div>
		<div class="row text-center">
			<a href="#" class="btn btn-primary col-sm-3 col-xs-9">KHÓA HỌC</a>
			<a href="#" class="btn btn-primary btn-outline col-sm-3 col-xs-9">SỰ KIỆN</a>
		</div>
	</div>
</section>

{% endblock %}
